{% extends "base_template.html" %}

{% block title %}Add a Study{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-lg-7 col-lg-offset-2">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Add a Study</legend>
                  <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Title:</label>
                    <div class="col-lg-10">
                      <span class="help-block">Describe your study in a few words</span>
                      <input type="text" class="form-control" id="inputTitle" placeholder="eg. Study on Robotic">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Text:</label>
                    <div class="col-lg-10">
                      <span class="help-block">Add information about the study including a link to sign-up, or another thing. We recommend <a href='doodle.com'>Doodle</a> for scheduling studies.</span>
                      <textarea class="form-control" rows="3" id="textArea"></textarea>
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="date" class="col-lg-2 control-label">Last Date:</label>
                    <div class="col-lg-10">
                      <span class="help-block">The last date that this study will be valid until. After that, we'll automatically stop listing it</span>
                        <div class="col-lg-5">
                          <input type='date' id='date' class="form-control" />
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10">
                      <button type="submit" class="btn btn-primary">Add my Study</button>
                    </div>
                  </div>
                                     
                </fieldset>
              </form>
            </div>
          </div>
        </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datepicker();
    });
</script>
{% endblock %}